In [30]:
import numpy as np
import pandas as pd

In [31]:
years = [2000, 2004, 2008, 2012, 2016]

In [32]:
all_df = pd.DataFrame(columns = ['State', 'Candidate', 'Votes', 'Year', 'Party'])

In [33]:
all_df

Empty DataFrame
Columns: [State, Candidate, Votes, Year, Party]
Index: []

In [34]:
for year in years:
    df = pd.read_csv(f'{year}.csv', index_col=0)
    df.columns = ['State', 'Candidate', 'Votes', 'Year']
    df['Party'] = df['Candidate'].apply(lambda x: x[-10:])
    df['Candidate'] = df['Candidate'].apply(lambda x: x[:-10])
    all_df = all_df.append(df)

In [35]:
all_df[all_df['Year']==2016]

Empty DataFrame
Columns: [State, Candidate, Votes, Year, Party]
Index: []

In [13]:
swing_states = ['Fla.', 'Ga.', 'N.C.', 'Pa.', 'Ohio', 'Wis.', 'Mich.', 'Texas.', 'Ariz.']
swing_states_2 = ['Florida', 'Georgia', 'North Carolina', 'Pennsylvania', 'Ohio', 'Wisconsin', 'Michigan', 'Texas', 'Arizona']

In [14]:
all_df = all_df.replace(to_replace=swing_states, value=swing_states_2)

In [15]:
all_df.to_csv('all_data.csv')

In [16]:
all_df[all_df['State'] == 'Arizona']

     State        Candidate      Votes  Year       Party
4  Arizona          Al Gore   685341.0  2000  Democratic
5  Arizona   George W. Bush   781652.0  2000  Republican
4  Arizona   George W. Bush  1104294.0  2004  Republican
5  Arizona       John Kerry   893524.0  2004  Democratic
4  Arizona     Barack Obama  1034707.0  2008  Democratic
5  Arizona      John McCain  1230111.0  2008  Republican
4  Arizona     Barack Obama  1025232.0  2012  Democratic
5  Arizona      Mitt Romney  1233654.0  2012  Republican
4  Arizona     Donald Trump  1252401.0  2016  Republican
5  Arizona  Hillary Clinton  1161167.0  2016  Democratic