In [1]:
import numpy as np
import pandas as pd

In [2]:
years = [2000, 2004, 2008, 2012, 2016]

In [9]:
all_df = pd.DataFrame(columns = ['State', 'Candidate', 'Votes', 'Year', 'Party'])

In [10]:
all_df

Empty DataFrame
Columns: [State, Candidate, Votes, Year, Party]
Index: []

In [11]:
for year in years:
    df = pd.read_csv(f'{year}.csv', index_col=0)
    df.columns = ['State', 'Candidate', 'Votes', 'Year']
    df['Party'] = df['Candidate'].apply(lambda x: x[-10:])
    df['Candidate'] = df['Candidate'].apply(lambda x: x[:-10])
    all_df = all_df.append(df)

In [12]:
all_df

       State        Candidate      Votes  Year       Party
4    Arizona          Al Gore   685341.0  2000  Democratic
5    Arizona   George W. Bush   781652.0  2000  Republican
18   Florida          Al Gore  2912253.0  2000  Democratic
19   Florida   George W. Bush  2912790.0  2000  Republican
20   Georgia          Al Gore  1116230.0  2000  Democratic
..       ...              ...        ...   ...         ...
81      Ohio  Hillary Clinton  2394164.0  2016  Democratic
86       Pa.     Donald Trump  2970733.0  2016  Republican
87       Pa.  Hillary Clinton  2926441.0  2016  Democratic
108     Wis.     Donald Trump  1405284.0  2016  Republican
109     Wis.  Hillary Clinton  1382536.0  2016  Democratic

[88 rows x 5 columns]

In [13]:
swing_states = ['Fla.', 'Ga.', 'N.C.', 'Pa.', 'Ohio', 'Wis.', 'Mich.', 'Texas.', 'Ariz.']
swing_states_2 = ['Florida', 'Georgia', 'North Carolina', 'Pennsylvania', 'Ohio', 'Wisconsin', 'Michigan', 'Texas', 'Arizona']

In [14]:
all_df = all_df.replace(to_replace=swing_states, value=swing_states_2)

In [15]:
all_df.to_csv('all_data.csv')

In [16]:
all_df[all_df['State'] == 'Arizona']

     State        Candidate      Votes  Year       Party
4  Arizona          Al Gore   685341.0  2000  Democratic
5  Arizona   George W. Bush   781652.0  2000  Republican
4  Arizona   George W. Bush  1104294.0  2004  Republican
5  Arizona       John Kerry   893524.0  2004  Democratic
4  Arizona     Barack Obama  1034707.0  2008  Democratic
5  Arizona      John McCain  1230111.0  2008  Republican
4  Arizona     Barack Obama  1025232.0  2012  Democratic
5  Arizona      Mitt Romney  1233654.0  2012  Republican
4  Arizona     Donald Trump  1252401.0  2016  Republican
5  Arizona  Hillary Clinton  1161167.0  2016  Democratic